@charset "utf-8";
/* CSS Document */

div.title{
	width: 100%;
	height: 11.42%;

	font-family:"Georgia", Times, serif;
	font-size:2em;
	text-align:center;
	text-align:left;
	}

div.linkstable{

	background-color: black;
	font-family: "Georgia", Times, serif;
	text-align:center;
	height: 5.71%;
	border-radius:20px;
	margin:5px 5px 5px 5px;
	
}
div.footer{
	background-color: #red;
	font-family: "Georgia", Times, serif;
	text-align:center;
	height: 5.71%;
	border-radius:20px;
	margin:5px 5px 5px 5px;
	
}

div.sidelinks{
	
	width:12.63%;
	height: 20%;
	PADDING:5PX;
	text-align:center;
	background-color:black;
	float:left;
	border-radius:20px;
	}

div.body{
	padding: 10px 10px 10px 10px;
	width:inherit;
	height:88%;
	float:right;
	
}
div.bodypara{
	color:"#000000";
	
	}

div.content{
	float:right;
	border: 2px solid black;
	padding: 5px;
	width:84%;
	border-radius:20px;
	background-color:white;
}
div.container{
	width: 950px;
	height: 700px;
	margin:auto;


	}
